<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
    <title>Movie list</title>
  </head>
  <body>
    <section class="hero is-link">
      <div class="hero-body">
        <h1 class="title">Movie list</h1>
      </div>
    </section>

    <section class="section">
      <div class="columns">
        <div class="column is-2">
          <div class="box">
            <ul>
              <% @movies.each do |movie| %>
                <li>
                  <%= movie.title %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <a href="/movies/new">Add Movie</a>
  </section>
  </body>
</html>
