<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
    <title>New movie</title>
  </head>
  <body>
    <section class="hero is-link">
      <div class="hero-body">
        <h1 class="title">Movie list</h1>
      </div>
    </section>

    <section class="section">
      <h2 class="title">Add New Movie</h2>
      <div class="columns">
        <div class="column is-4">
          <div class="box">
            <div class="block">
              <form class="" action="/movies/create" method="post">

                <div class="field">
                  <label for="title" class="label">Title:</label>
                  <div class="control">
                    <input type="text" class="input" name="title" value="" placeholder="Movie title">
                  </div>
                </div>

                <div class="field">
                  <label for="director" class="label">Director:</label>
                  <div class="control">
                    <input type="text" class="input" name="director" value="" placeholder="Movie director">
                  </div>
                </div>

                <div class="field">
                  <label for="year" class="label">Year:</label>
                  <div class="control">
                    <input type="text" class="input" name="year" value="" placeholder="Movie director">
                  </div>
                </div>

                <button type="submit" class="button is-link" name="button">Send</button>
              </form>

            </div>
            <div class="block">
              <a href="/movies"><-- Back to Index</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
